<div class="clearfix">
  <div class="menu-left">
    <span><h1>Menu left</h1></span>
    <div
      *ngFor="let product of products"
      (click)="changeProduct(product, $event)"
      class="product"
      [ngClass]="{ 'product-active': currentProduct === product }"
    >
      <label class="label header"
        ><span class="fa fa-mobile"></span> : {{ product.name }}</label
      >
      <div style="padding: 2px"></div>

      <label class="label detail"
        ><span class="fa fa-dollar-sign"></span> : {{ product.price }}</label
      >
      <div style="padding: 2px"></div>

      <label class="label detail"
        ><span class="fa fa-globe-asia"></span> : {{ product.national }}</label
      >
    </div>
  </div>

  <div class="detail-product">
    <span class="label">{{ currentProduct.name }}</span>
    <div style="padding: 2px"></div>
    <span class="label">{{ currentProduct.price }}</span>
    <div style="padding: 2px"></div>
    <span class="label">{{ currentProduct.national }}</span>
    <div style="padding: 2px"></div>
    <span class="label">{{ currentProduct.description }}</span>
  </div>
</div>
