.heroes {
  list-style-type: none;
  padding: 0;
  margin: 0 0 2em 0;
  width: 15em;
}
.heroes li {
  cursor: pointer;
  background-color: #eee;
  margin: 7px;
  padding: 7px 0 7px 0;
  height: 19px;
  border-radius: 5px;
}
.heroes .badge {
  position: relative;
  padding: 7px 7px 8px 7px;
  background-color: #405061;
  color: white;
  border-radius: 5px 0 0 5px;
}

.heroes li:hover {
  background-color: #bbd8dc !important;
  color: white;
}

.m-selected {
  background-color: #cfd8dc !important;
  color: white;
}

.hero-name {
  padding-left: 10px;
}
